<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% if user %}
        {% include '/mt/push_admins/header.html' %}
        <a href="/api/push_admin/pushes">Послать пуши</a><br>
        <a href="/api/push_admin/menu_reload">Обновить меню</a>
        {% if menu_reload %}
            Меню обновлено
        {% endif %}
    {% else %}
        <a href="/mt/push/send">Послать пуши</a>
    {% endif %}

    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Дата</th>
            <th>Компания</th>
            <th>Текст</th>
            <th>Заголовок (для Андройд)</th>
            <th>Андроид</th>
            <th>IPhone</th>
        </tr>
        {% for h_item in history %}
            <tr>
                <td>{{ h_item.created }}</td>
                <td>{{ h_item.companies }}</td>
                <td>{{ h_item.text  }}</td>
                <td>{{ h_item.head }}</td>
                <td>{{ h_item.android_avail }}</td>
                <td>{{ h_item.ios_avail }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if not user %}
        <a href="/mt/report">Назад</a>
    {% endif %}
</body>
</html>