<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% if user %}
        {% include '/mt/push_admins/header.html' %}
    {% endif %}

    <form method="post">
        <label>Сообщение: <input type="text" name="text"></label><br>
        <label>Заголовок (Android): <input type="text" name="head"></label><br>
        {% if has_choices %}
            {% for company in companies %}
                <label><input type="checkbox" name="{{ company.key.id() }}">{{ company.app_title }}</label>
            {% endfor %}
        {% endif %}
        <br>
        <label><input type="checkbox" name="android">Андроид</label>
        <label><input type="checkbox" name="ios">IPhone</label>
        <br>
        <input type="submit" value="Выбрать"/>
    </form>
    {% if user %}
        <a href="/api/push_admin/history">Назад</a>
    {% else %}
        <a href="/mt/push/history">Назад</a>
    {% endif %}
</body>
</html>