<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    {% set NAME_MONTHS = 'Все месяцы', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль',
                            'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь' %}

    <form method="get">
         <select name="selected_type">
            <option value="app" {% if chosen_type == "app" %}selected{% endif %}>App</option>
            <option value="iiko" {% if chosen_type == "iiko" %}selected{% endif %}>IIko</option>
         </select>
         <select name="selected_venue">
             <option value=0 {% if not chosen_venue %}selected{% endif %}>Все кофейни</option>
             {% for venue in venues %}
                  <option value="{{ venue.venue_id }}" {% if chosen_venue == venue %} selected {% endif %}>
                      {{ venue.name }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_year">
             {% for year in range(start_year, end_year + 1) %}
                  <option value="{{ year }}" {% if chosen_year == year %} selected {% endif %}>
                      {{ year }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_month">
             {% for month in range(1, 12 + 1)%}
                  <option value="{{ month }}" {% if chosen_month == month %} selected {% endif %}>
                      {{ NAME_MONTHS[month] }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_day">
             <option value="0" {% if not chosen_day %}selected{% endif %}>Все дни</option>
             {% for day in range(1, 31 + 1)%}
                  <option value="{{ day }}" {% if chosen_day == day %} selected {% endif %}>
                      {{ day }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_client_number">
             {% for number in range(1, 15)%}
                  <option value="{{ number * 10 }}" {% if chosen_client_number == number * 10 %} selected {% endif %}>
                      {{ number * 10 }}
                  </option>
             {% endfor %}
         </select>
         <input type="submit" value="Выбрать"/>
    </form>

    <br>
    <table style="border-collapse:collapse; width:100%" border="1">
         <tr>
             <th>Date</th>
             <th>Number of new orders</th>
             <th>Number of repeat orders</th>
             <th>Sum of new orders</th>
             <th>Sum of repeat orders</th>
         </tr>
         {% for day in days %}
             <tr>
                 <td>{{ day['day'] }}</td>
                 <td>{{ day['new_number'] }}</td>
                 <td>{{ day['old_number'] }}</td>
                 <td>{{ day['new_sum'] }}</td>
                 <td>{{ day['old_sum'] }}</td>
             </tr>
         {% endfor %}
         <tr>
             <td><b>Total</b></td>
             <td>{{ total['new_number'] }}</td>
             <td>{{ total['old_number'] }}</td>
             <td>{{ total['new_sum'] }}</td>
             <td>{{ total['old_sum'] }}</td>
         </tr>
    </table>
    <a href="/mt/report">Назад</a>

</body>
</html>