<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% set NAME_MONTHS = 'Все месяцы', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль',
                            'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь' %}

    <form method="get">]
         <select name="selected_type">
            <option value="app" {% if chosen_type == "app" %}selected{% endif %}>App</option>
            <option value="iiko" {% if chosen_type == "iiko" %}selected{% endif %}>IIko</option>
         </select>
         <select name="selected_venue">
             <option value=0 {% if not chosen_venue %}selected{% endif %}>Все кофейни</option>
             {% for venue in venues %}
                  <option value="{{ venue.venue_id }}" {% if chosen_venue == venue %} selected {% endif %}>
                      {{ venue.name }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_year">
             <option value="0" {% if not chosen_year %}selected{% endif %}>Все года</option>
             {% for year in range(start_year, end_year + 1) %}
                  <option value="{{ year }}" {% if chosen_year == year %} selected {% endif %}>
                      {{ year }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_month">
             {% for month in range(0, 12 + 1)%}
                  <option value="{{ month }}" {% if chosen_month == month %} selected {% endif %}>
                      {{ NAME_MONTHS[month] }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_day">
             <option value="0" {% if not chosen_day %}selected{% endif %}>Все дни</option>
             {% for day in range(1, 31 + 1)%}
                  <option value="{{ day }}" {% if chosen_day == day %} selected {% endif %}>
                      {{ day }}
                  </option>
             {% endfor %}
         </select>
         <input type="submit" value="Выбрать"/>
    </form>

    <table style="border-collapse:collapse; width:100%" border="1">
         <tr>
             <th>Id</th>
             <th>Name</th>
             <th>Telephone</th>
             <th>Number of Orders</th>
             <th>Number of Orders with Card</th>
             <th>Total Sum</th>
             <th>Average Order Cost</th>
             <th>Number of Cancelled Orders</th>
             <th>Sum of Cancelled Orders</th>
         </tr>
         {% for client in clients %}
             <tr>
                 <td>{{ client.customer_id }}</td>
                 <td>{{ client.name }}</td>
                 <td>{{ client.phone }}</td>
                 <td>{{ client.order_number }}</td>
                 <td>{{ client.card }}</td>
                 <td>{{ client.total_sum }}</td>
                 <td>{{ client.total_sum / client.order_number if client.order_number else 0 }}</td>
                 <td>{{ client.cancelled }}</td>
                 <td>{{ client.cancelled_sum }}</td>
             </tr>
         {% endfor %}
         <tr>
             <td></td>
             <td></td>
             <td><b>Total</b></td>
             <td>{{ total['order_number'] }}</td>
             <td>{{ total['card_order'] }}</td>
             <td>{{ total['total_sum'] }}</td>
             <td>{{ total['total_sum'] / total['order_number'] if total['order_number'] else 0 }}</td>
             <td>{{ total['cancelled'] }}</td>
             <td>{{ total['cancelled_sum'] }}</td>
         </tr>
     </table>
     <a href="/mt/report">Назад</a>

</body>
</html>