<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% set NAME_MONTHS = 'Все месяцы', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль',
                            'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь' %}

    <form method="get">
         <select name="selected_type">
            <option value="app" {% if chosen_type == "app" %}selected{% endif %}>App</option>
            <option value="iiko" {% if chosen_type == "iiko" %}selected{% endif %}>IIko</option>
         </select>
         <select name="selected_year">
             <option value="0" {% if not chosen_year %}selected{% endif %}>Все года</option>
             {% for year in range(start_year, end_year + 1) %}
                  <option value="{{ year }}" {% if chosen_year == year %} selected {% endif %}>
                      {{ year }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_month">
             {% for month in range(0, 12 + 1)%}
                  <option value="{{ month }}" {% if chosen_month == month %} selected {% endif %}>
                      {{ NAME_MONTHS[month] }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_day">
             <option value="0" {% if not chosen_day %}selected{% endif %}>Все дни</option>
             {% for day in range(1, 31 + 1)%}
                  <option value="{{ day }}" {% if chosen_day == day %} selected {% endif %}>
                      {{ day }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_object_type">
             <option value="0" {% if chosen_object_type == '0' %}selected{% endif %}>Заказы</option>
             <option value="1" {% if chosen_object_type == '1' %}selected{% endif %}>Клиенты</option>
             <option value="2" {% if chosen_object_type == '2' %}selected{% endif %}>Товары</option>
         </select>
         <input type="submit" value="Выбрать"/>
     </form>

    <br>
     <table style="border-collapse:collapse; width:100%" border="1">
         <tr>
             <th rowspan="2">Id</th>
             <th rowspan="2">Имя</th>
             <th rowspan="2">Тип оплаты</th>
             {% for status in statuses %}
                <th colspan="3">{{ statuses_mapping[status] }}</th>
             {% endfor %}
             </tr><tr>
             {% for status in statuses %}
                <th>
                    Кол-во
                    {% if chosen_object_type == '0' %}
                        заказов
                    {% elif chosen_object_type == '1' %}
                        клиентов
                    {% elif chosen_object_type == '2' %}
                        продуктов
                    {% endif %}
                </th>
                <th>Сумма</th>
                <th>Средний чек</th>
             {% endfor %}
         </tr>
         {% for company in companies %}
             <tr>
                 {% set span = company.payments|length %}
                 <td rowspan="{{ span }}">{{ company.iiko_org_id }}</td>
                 <td rowspan="{{ span }}">{{ company.app_title }}</td>
                 {% for payment in company.payments %}
                     {% if loop.index0 > 0 %}
                        </tr><tr>
                     {% endif %}
                     <td>{{ payment['name'] }}</td>
                     {% for status in statuses %}
                         <td>
                            {% if chosen_object_type == '0' %}
                                {{ company.info[payment['type']][status]["orders_number"] }}
                            {% elif chosen_object_type == '1' %}
                                {{ company.info[payment['type']][status]["client_number"] }}
                            {% elif chosen_object_type == '2' %}
                                {{ company.info[payment['type']][status]["goods_number"] }}
                            {% endif %}
                         </td>
                         <td>{{ company.info[payment['type']][status]["orders_sum"] }}</td>
                         <td>{{ company.info[payment['type']][status]["orders_sum"] / venue.info[payment['type']][status]["orders_number"] if venue.info[payment['type']][status]["orders_number"] else 0 }}</td>
                     {% endfor %}
                 {% endfor %}
             </tr>
         {% endfor %}
     </table>
     <a href="/mt/report">Назад</a>

</body>
</html>