<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RuBeacon Apps</title>
    <link href="/static/css/landing.css" rel="stylesheet">
</head>
<body>
<div class="welcome">
    <h2>Ru-beacon</h2>

    <div class="menu">
        <ul>
            <li><a href="#examples" data-scroll>Клиенты</a></li>
            <li><a href="#price" data-scroll>Стоимость</a></li>
            <li><a href="#scheme" data-scroll>Схема работы</a></li>
        </ul>
        <a href="#form" id="menu-button" data-scroll>Создать приложение</a>
    </div>
    <h1><span>Создай приложение</span> и получишь<br>
        <span>на 10% больше заказов</span> уже через месяц</h1>
    <h4>Доставка еды | Самовывоз | Предварительный заказ | Акции | Бонусы</h4>

    <div class="bullets">
        <ul>
            <li>
                <img src="/static/img/landing/icon1.png">

                <p>
                    Готовое приложение<br>
                    меньше чем за 3 дня
                </p>
            </li>
            <li>
                <img src="/static/img/landing/icon2.png">

                <p>
                    Интеграция с кассовыми<br>
                    системами iiko и R-Keeper
                </p>
            </li>
            <li>
                <img src="/static/img/landing/icon3.png">

                <p>
                    Продвижение и обновления<br>
                    бесплатно
                </p>
            </li>
        </ul>
    </div>
    <a href="#examples" data-scroll><img class="down" src="/static/img/landing/down.png" alt="down"></a>
</div>
<div id="examples">
    <div class="info">
        <h2>Даблби <span class="n-venues">21 кофейня</span></h2>
        <ul>
            <li><span>7000+</span> скачиваний</li>
            <li><span>450+</span> постоянных пользователей</li>
            <li><span>3000+</span> заказов в неделю через приложение</li>
        </ul>
        <a href="http://dblb.mobi/get/splash/i" target="_blank">
            <img class="apple" src="/static/img/landing/apple.png" alt="">
        </a>
        <a href="http://dblb.mobi/get/splash/a" target="_blank">
            <img class="google" src="/static/img/landing/google.png" alt="">
        </a>
    </div>
    <img class="screen" src="/static/img/landing/phones.png" alt="">
</div>
<div class="advantages">
    <h2>Неоспоримое преимущество</h2>

    <div class="first">
        <h3><dfn>Повторные заказы</dfn></h3>
        <img src="/static/img/landing/26.png" alt="">
        <img src="/static/img/landing/10.png" alt="">

        <p>На 26% больше повторных заказов по сравнению с телефоннным звонками, и на 10% по сравнению с сайтом</p>
    </div>
    <div class="second">
        <h3><dfn>Средний чек</dfn></h3>
        <img src="/static/img/landing/12.png" alt="">
        <img src="/static/img/landing/7.png" alt="">

        <p>Увеличение среднего чека на 12% по сравнению с заказами по телефону, и на 7% по сравнению с заказами через
            сайт</p>
    </div>
    <div class="third">
        <h3><dfn>Удобство использования</dfn></h3>
        <img src="/static/img/landing/cards.png" alt="" height="28">

        <p>Оплата картами. Заказ в один клик. Заказ по пути на работу или дома лежа на диване. Самовывоз из ресторана.
            Отправление подарка другу.</p>
    </div>
</div>
<div class="loyalty">
    <h2>Система лояльности и таргетинг</h2>

    <h3><dfn>Увеличение повторных заказов и привлечение новых клиентов</dfn></h3>

    <ul>
        <li>Персонализированные предложения в зависимости от предпочтений клиента, его истории заказов и
            местоположения.
        </li>
        <li>Поздравления с днем рождения и другими праздниками.</li>
        <li>Накопление баллов. Счастливые часы. Скидки за повторные заказы.</li>
        <li>Акции «Приведи друга» и «Подари подарок другу».</li>
        <li>Подарки при заказе на определенную сумму.</li>
        <li>Рассылки. Сообщение клиенту, проходящему рядом с заведением.</li>
    </ul>
</div>
<div id="price">
    <h2>Стоимость</h2>

    <table width="100%" cellspacing="0">
        <tr>
            <th width="1%">Стандарт</th>
            <th width="1%">Профи</th>
            <th width="1%">Премиум</th>
        </tr>
        <tr>
            <td>
                <h4>До 100 заказов/мес.</h4>
                3.75% комиссия<br>
                2 платформы
            </td>
            <td>
                <h4>До 1000 заказов/мес.</h4>
                3.5% комиссия<br>
                2 платформы<br>
                Мобильная версия сайта
            </td>
            <td>
                <h4>До 10000 заказов/мес.</h4>
                3% комиссия<br>
                2 платформы<br>
                Мобильная версия сайта
            </td>
        </tr>
        <tr>
            <th>3000 руб/мес.</th>
            <th>30000 руб/мес.</th>
            <th>60000 руб/мес.</th>
        </tr>
        <tr>
            <td>
                Стилизация:<br>
                Логотип и фирменный стиль<br>
                Push-уведомления<br>
                Информация о компании
            </td>
            <td>
                Дополнительно:<br>
                SMS уведомления о заказах<br>
                Ежемесячный отчет о активности пользователей<br>
                <br>
                Лояльность:<br>
                Бонусы<br>
                Абонемент<br>
                Счастливые часы<br>
                Раздельное меню для заведений
            </td>
            <td>
                Дополнительно:<br>
                Персональный менеджер<br>
                Индивидуальные персональные акции<br>
                iBeacon — готовится<br>
                <br>
                Лояльность:<br>
                Интеграция с соц. сетями<br>
                Приведи друга
            </td>
        </tr>
    </table>
</div>
<div id="scheme">
    <h2>Схема работы</h2>
    <ul>
        <li id="img_mini1">
            Отправьте заявку и получите тестовое приложение.
        </li>
        <li id="img_mini2">
            Пришлите элементы фирменного стиля (логотип, цвет), ваше меню, адреса и время работы.
        </li>
        <li id="img_mini4">
            Утвердите финальную версию приложения. Система сконфигурирует приложение, чтобы вы смогли протестировать
            его.
        </li>
        <li id="img_mini5">
            Мы выпустим приложение на Google Play в течение 2-х дней и в AppStore в течение 14 дней.
        </li>
    </ul>

    <h4 id="form"><span>Оставьте свои данные, чтобы </span>скачать тестовое приложение.</h4>

    <form id="form-element">
        <input type="email" name="email" placeholder="example@mail.ru">
        <input type="text" name="phone" placeholder="+7 (999) 999-99-99">
        <input type="submit" value="Получить тестовое &#010;приложение">
    </form>
    <div class="form-message">
        <div class="hidden" id="form-message-text">
            Спасибо! Мы свяжемся с Вами в течение дня.
        </div>
    </div>
</div>
<div class="footer">
    <div class="gradient">
        <h2>Напишите или позвоните нам</h2>

        <h3>+7 (495) 789 41 79&nbsp;&nbsp;&nbsp;team@ru-beacon.ru</h3>
    </div>
</div>

<script src="/static/js/smooth-scroll.min.js"></script>
<script>
    (function () {
        smoothScroll.init();

        function serialize(obj) {
            var str = [];
            for (var p in obj) if (obj.hasOwnProperty(p)) {
                str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
            }
            return str.join("&");
        }

        var form = document.getElementById("form-element");
        var message = document.getElementById("form-message-text");
        var pendingRequest = null;
        form.addEventListener("submit", function (e) {
            e.preventDefault();

            if (pendingRequest) {
                return;
            }

            message.className = "hidden";
            pendingRequest = new XMLHttpRequest();
            pendingRequest.open("POST", "/iiko_biz_submit");
            pendingRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");
            var data = serialize({
                "email": form.email.value,
                "phone": form.phone.value
            });
            pendingRequest.onreadystatechange = function () {
                if (pendingRequest.readyState == 4) {
                    if (message.textContent !== undefined) {
                        message.textContent = pendingRequest.responseText;
                    } else {
                        message.innerHTML = pendingRequest.responseText;
                    }
                    message.className = "";
                    pendingRequest = null;
                }
            };
            pendingRequest.send(data);
        }, false);
    })();
</script>
</body>
</html>
