<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RuBeacon Apps</title>
    <link href="/static/css/landing.css" rel="stylesheet">
</head>
<body>
<div class="welcome">
    <h2>Ru-beacon</h2>

    <div class="menu">
        <ul>
            <li><a href="#examples" data-scroll>{{ t.MENU_CLIENTS }}</a></li>
            <li><a href="#price" data-scroll>{{ t.MENU_PRICING }}</a></li>
            <li><a href="#scheme" data-scroll>{{ t.MENU_SCHEME }}</a></li>
        </ul>
        <a href="http://demo.rbcn.mobi/wizard" id="menu-button">{{ t.MENU_CREATE }}</a>
    </div>
    <h1><span>{{ t.MAIN_LINE1_HL }}</span> {{ t.MAIN_LINE1_NO_HL }}<br>
        <span>{{ t.MAIN_LINE2_HL }}</span> {{ t.MAIN_LINE2_NO_HL }}</h1>
    <h4>{{ t.MAIN_SUBHEAD }}</h4>

    <div class="bullets">
        <ul>
            <li>
                <img src="/static/img/landing/icon1.png">

                <p>
                    {{ t.MAIN_BULLET_1_LINE_1 }}<br>
                    {{ t.MAIN_BULLET_1_LINE_2 }}
                </p>
            </li>
            <li>
                <img src="/static/img/landing/icon2.png">

                <p>
                    {{ t.MAIN_BULLET_2_LINE_1 }}<br>
                    {{ t.MAIN_BULLET_2_LINE_2 }}
                </p>
            </li>
            <li>
                <img src="/static/img/landing/icon3.png">

                <p>
                    {{ t.MAIN_BULLET_3_LINE_1 }}<br>
                    {{ t.MAIN_BULLET_3_LINE_2 }}
                </p>
            </li>
        </ul>
    </div>
    <a href="#examples" data-scroll><img class="down" src="/static/img/landing/down.png" alt="down"></a>
</div>
<div id="examples">
    <div class="info">
        <h2>{{ t.DOUBLE_B }} <span class="n-venues">21 {{ t.N_VENUES }}</span></h2>
        <ul>
            <li><span>7000+</span> {{ t.N_DOWNLOADS }}</li>
            <li><span>450+</span> {{ t.N_USERS }}</li>
            <li><span>3000+</span> {{ t.N_ORDERS }}</li>
        </ul>
        <a href="http://dblb.mobi/get/splash/i" target="_blank">
            <img class="apple" src="/static/img/landing/apple.png" alt="">
        </a>
        <a href="http://dblb.mobi/get/splash/a" target="_blank">
            <img class="google" src="/static/img/landing/google.png" alt="">
        </a>
    </div>
    <img class="screen" src="/static/img/landing/phones.png" alt="">
</div>
<div class="advantages">
    <h2>{{ t.ADVANTAGES_HEADING }}</h2>

    <div class="first">
        <h3><dfn>{{ t.REPEATED_ORDERS }}</dfn></h3>
        <img src="/static/img/landing/26.png" alt="">
        <img src="/static/img/landing/10.png" alt="">

        <p>{{ t.REPEATED_ORDERS_INFO }}</p>
    </div>
    <div class="second">
        <h3><dfn>{{ t.AVERAGE_SUM }}</dfn></h3>
        <img src="/static/img/landing/12.png" alt="">
        <img src="/static/img/landing/7.png" alt="">

        <p>{{ t.AVERAGE_SUM_INFO }}</p>
    </div>
    <div class="third">
        <h3><dfn>{{ t.CONVENIENCE }}</dfn></h3>
        <img src="/static/img/landing/cards.png" alt="" height="28">

        <p>{{ t.CONVENIENCE_INFO }}</p>
    </div>
</div>
<div class="loyalty">
    <h2>{{ t.LOYALTY_HEADING }}</h2>

    <h3><dfn>{{ t.LOYALTY_SUBHEAD }}</dfn></h3>

    <ul>
        {% for bullet in t.LOYALTY_BULLETS %}
            <li>{{ bullet }}</li>
        {% endfor %}
    </ul>
</div>
<div id="price">
    <h2>{{ t.PRICING_HEADING }}</h2>

    <table width="100%" cellspacing="0" style="table-layout: fixed;">
        <tr>
            <th colspan="3" width="3%">{{ t.PRICING_DELIVERY }}</th>
            <th rowspan="2" width="1%">
                {{ t.PRICING_CAFE_1 }}<br>
                {{ t.PRICING_CAFE_2 }}
            </th>
        </tr>
        <tr>
            <th width="1%">{{ t.PRICING_PLAN1 }}</th>
            <th width="1%">{{ t.PRICING_PLAN2 }}</th>
            <th width="1%">{{ t.PRICING_PLAN3 }}</th>
        </tr>
        <tr>
            <td>
                <h4>{{ t.PRICING_ORDERS % 100 }}</h4>
                {{ t.PRICING_PERCENT % "3.75%" }}<br>
                {{ t.PRICING_PLATFORMS }}
            </td>
            <td>
                <h4>{{ t.PRICING_ORDERS % 200 }}</h4>
                {{ t.PRICING_PERCENT % "3.5%" }}<br>
                {{ t.PRICING_PLATFORMS }}<br>
                {{ t.PRICING_MOBILE_WEB }}
            </td>
            <td>
                <h4>{{ t.PRICING_ORDERS_UNLIMITED }}</h4>
                {{ t.PRICING_PERCENT % "3.5%" }}<br>
                {{ t.PRICING_PLATFORMS }}<br>
                {{ t.PRICING_MOBILE_WEB }}
            </td>
            <td>
                <h4>{{ t.PRICING_ORDERS_UNLIMITED }}</h4>
                {{ t.PRICING_PLATFORMS }}<br>
                {{ t.PRICING_BARISTA_APP }}
            </td>
        </tr>
        <tr>
            <th>3000 {{ t.PRICING_RUBLES_PER_MONTH }}</th>
            <th>6000 {{ t.PRICING_RUBLES_PER_MONTH }}</th>
            <th>{{ t.PRICING_INDIVIDUAL }}</th>
            <th>3000 {{ t.PRICING_RUBLES_PER_MONTH }}</th>
        </tr>
        <tr>
            <td>
                {% for line in t.PRICING_PLAN1_INFO %}
                    {{ line }}<br>
                {% endfor %}
            </td>
            <td>
                {% for line in t.PRICING_PLAN2_INFO %}
                    {{ line }}<br>
                {% endfor %}
            </td>
            <td>
                {% for line in t.PRICING_PLAN3_INFO %}
                    {{ line }}<br>
                {% endfor %}
            </td>
            <td>
                {% for line in t.PRICING_PLAN_CAFE_INFO %}
                    {{ line }}<br>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>
<div id="scheme">
    <h2>{{ t.SCHEME_HEADING }}</h2>
    <ul>
        <li id="img_mini1">{{ t.SCHEME_SEND_REQUEST }}</li>
        <li id="img_mini2">{{ t.SCHEME_SEND_CHECKLIST }}</li>
        <li id="img_mini4">{{ t.SCHEME_APPROVE }}</li>
        <li id="img_mini5">{{ t.SCHEME_RELEASE }}</li>
    </ul>

    <h4 id="form">{{ t.SEND_REQUEST }}</h4>

    <form id="form-element">
        <input type="email" name="email" placeholder="name@example.com">
        <input type="text" name="phone" placeholder="+7 (999) 999-99-99">
        <input type="submit">
    </form>
    <div class="form-message">
        <div class="hidden" id="form-message-text">&nbsp;</div>
    </div>
</div>
<div class="footer">
    <div class="gradient">
        <h2>{{ t.FOOTER_CONTACT_US }}</h2>

        <h3>+7 (495) 789 41 79&nbsp;&nbsp;&nbsp;team@ru-beacon.ru</h3>
    </div>
</div>

<script src="/static/js/smooth-scroll.min.js"></script>
<script>
    (function () {
        smoothScroll.init();

        function serialize(obj) {
            var str = [];
            for (var p in obj) if (obj.hasOwnProperty(p)) {
                str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
            }
            return str.join("&");
        }

        var form = document.getElementById("form-element");
        var message = document.getElementById("form-message-text");
        var pendingRequest = null;
        form.addEventListener("submit", function (e) {
            e.preventDefault();

            if (pendingRequest) {
                return;
            }

            message.className = "hidden";
            pendingRequest = new XMLHttpRequest();
            pendingRequest.open("POST", "/iiko_biz_submit");
            pendingRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");
            var data = serialize({
                "email": form.email.value,
                "phone": form.phone.value
            });
            pendingRequest.onreadystatechange = function () {
                if (pendingRequest.readyState == 4) {
                    if (message.textContent !== undefined) {
                        message.textContent = pendingRequest.responseText;
                    } else {
                        message.innerHTML = pendingRequest.responseText;
                    }
                    message.className = "";
                    pendingRequest = null;
                }
            };
            pendingRequest.send(data);
        }, false);
    })();
</script>
</body>
</html>
