<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RuBeacon Apps</title>
  <link href="/static/css/landing.css" rel="stylesheet">
</head>
<body>
  <div class="welcome">
    <h2>Ru-beacon</h2>
    <div class="menu">
      <ul>
        <li><a href="#examples" data-scroll>Клиенты</a></li>
        <li><a href="#price" data-scroll>Стоимость</a></li>
        <li><a href="#scheme" data-scroll>Схема работы</a></li>
      </ul>
      <a href="#form" id="menu-button" data-scroll>Создать приложение</a>
    </div>
    <h1><span>Создай бесплатно</span> приложение и получишь<br>
<span>на 10% больше заказов</span> уже через месяц</h1>
    <h4><dfn>Доставка еды   |   Самовывоз   |   Предварительный заказ   |   Акции   |   Бонусы</dfn></h4>
    <div class="bullets">
      <ul>
        <li><img src="/static/img/landing/icon1.png"><p>Готовое приложение<br>
меньше чем за 3 дня</p></li>
        <li><img src="/static/img/landing/icon2.png"><p>Интеграция с iiko<br>
загрузка меню автоматически</p></li>
        <li><img src="/static/img/landing/icon3.png"><p>Продвижение и обновления<br> бесплатно</p></li>
      </ul>
    </div>
    <a href="#examples" data-scroll><img class="down" src="/static/img/landing/down.png" alt="down"></a>
  </div>
  <div id="examples">
    <div class="info">
      <h2>Даблби</h2>
      <h3>21 кофейня</h3>
      <ul>
        <li><span>7000+</span> скачиваний</li>
        <li><span>450+</span> постоянных пользователей</li>
        <li><span>3000+</span> заказов в неделю через приложение</li>
      </ul>
      <a href="http://dblb.mobi/get/splash/i" target="_blank"><img class="apple" src="/static/img/landing/apple.png" alt=""></a>
      <a href="http://dblb.mobi/get/splash/a" target="_blank"><img class="google" src="/static/img/landing/google.png" alt=""></a>
    </div>
    <img src="/static/img/landing/phones.png" alt="">
  </div>
  <div class="advantages">
  <h2>Неоспоримое преимущество</h2>
    <div class="first">
      <h3><dfn>Повторные заказы</dfn></h3>
      <img src="/static/img/landing/26.png" alt="">
      <img src="/static/img/landing/10.png" alt="">
      <p>На 26% больше повторных заказов по сравнению с телефоннным звонками, и на 10% по сравнению с сайтом</p>
    </div>
    <div class="second">
      <h3><dfn>Средний чек</dfn></h3>
      <img src="/static/img/landing/12.png" alt="">
      <img src="/static/img/landing/7.png" alt="">
      <p>Увеличение среднего чека на 12% по сравнению с заказами по телефону, и на 7% по сравнению с заказами через сайт</p>
    </div>
    <div class="third">
      <h3><dfn>Удобство использования</dfn></h3>
      <img src="/static/img/landing/cards.png" alt="">
      <p>Оплата картами. Заказ в один клик. Заказ по пути на работу или дома лежа на диване. Самовывоз из ресторана. Отправление подарка другу.</p>
    </div>
  </div>
  <div class="loyalty">
    <h2>Система лояльности Platius и таргетинг</h2>
    <h3><dfn>Увеличение повторных заказов и привлечение новых клиентов</dfn></h3>
    <p>	•	Персонализированные предложения в зависимости от предпочтений клиента, его истории заказов и местоположения.
  <br><br>
	•	Поздравления с днем рождения и другими праздниками.
  <br><br>
	•	Накопление баллов. Счастливые часы. Скидки за повторные заказы.
  <br><br>
	•	Акции «Приведи друга» и «Подари подарок другу».
  <br><br>
	•	Подарки при заказе на определенную сумму.
  <br><br>
	•	Рассылки. Сообщение клиенту, проходящему рядом с заведением. </p>
  </div>
  <div id="price">
    <h2>Стоимость</h2>
    <p>Разработка приложения, обновления, продвижение и промо-материалы</p>
    <img src="/static/img/landing/free.png" alt="Бесплатно">
    <p>Мы берем деньги <span>только за результат</span> - процент продаж через приложение.<br>Для каждого клиента процент высчитывается отдельно.</p>
    <h4>Оцените сами - график повторных заказов через<br>наши приложения за последние 3 месяца</h4>
    <img src="/static/img/landing/graph.png" alt="График">
    <h4 id="form"><span>Оставьте свои данные, чтобы </span>скачать тестовое приложение.</h4>
    <form id="form-element">
      <input type="email" name="email" placeholder="example@mail.ru">
      <input type="text" name="phone" placeholder="+7 (999) 999-99-99">
      <input type="submit" value="Получить тестовое &#010;приложение">
    </form>
    <div class="form-message">
      <div class="hidden" id="form-message-text">
        Спасибо! Мы свяжемся с Вами в течение дня.
      </div>
    </div>
  </div>
  <div id="scheme">
    <h2>Схема работы</h2>
    <ul>
      <li><img src="/static/img/landing/mini1.png" alt=""><p>Отправьте заявку и получите тестовое приложение.</p></li>
      <li><img src="/static/img/landing/mini2.png" alt=""><p>Пришлите элементы фирменного стиля (логотип,<br> цвет). Описание ресторана, адресов и времени работы.</p></li>
      <li><img src="/static/img/landing/mini3.png" alt=""><p>Выгрузите меню через iiko delivery, все данные<br>подгрузятся в приложение автоматически вместе с картинками.</p></li>
      <li><img src="/static/img/landing/mini4.png" alt=""><p>Утвердите финальную версию приложения. Система<br>сконфигурирует приложение, чтобы вы смогли протестировать его.</p></li>
      <li><img src="/static/img/landing/mini5.png" alt=""><p>Мы выпустим приложение на Google Play в течении 2-х дней<br> и в AppStore в течении 14 дней.</p></li>
    </ul>
  </div>
  <div class="footer">
    <div class="gradient">
    <h2>Напишите или позвоните нам</h2>
    <h3>+7 (495) 789 41 79<br>team@ru-beacon.ru</h3>
    </div>
  </div>

  <script src="/static/js/smooth-scroll.min.js"></script>
  <script>
      (function() {
          smoothScroll.init();

          function serialize(obj) {
              var str = [];
              for(var p in obj) if (obj.hasOwnProperty(p)) {
                  str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
              }
              return str.join("&");
          }

          var form = document.getElementById("form-element");
          var message = document.getElementById("form-message-text");
          var pendingRequest = null;
          form.addEventListener("submit", function(e) {
              e.preventDefault();

              if (pendingRequest) {
                  return;
              }

              message.className = "hidden";
              pendingRequest = new XMLHttpRequest();
              pendingRequest.open("POST", "/iiko_biz_submit");
              pendingRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");
              var data = serialize({
                  "email": form.email.value,
                  "phone": form.phone.value
              });
              pendingRequest.onreadystatechange = function() {
                  if (pendingRequest.readyState == 4) {
                      if (message.textContent !== undefined) {
                          message.textContent = pendingRequest.responseText;
                      } else {
                          message.innerHTML = pendingRequest.responseText;
                      }
                      message.className = "";
                      pendingRequest = null;
                  }
              };
              pendingRequest.send(data);
          }, false);
      })();
  </script>
</body>
</html>
