<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Список компаний</h1>
    <table border="1" cellspacing="0" cellpadding="2" style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th>Название</th>
                <th>ID</th>
                <th>iiko ID</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies|sort(attribute='app_title') %}
                <tr>
                    <td>{{ company.app_title }}</td>
                    <td>{{ company.key.id() }}</td>
                    <td>{{ company.iiko_org_id }}</td>
                    <td>
                        <a href="/mt/company/{{ company.key.id() }}">Редактировать</a>
                    </td>
                    <td>
                        <a href="/mt/company/{{ company.key.id() }}/terminals">Точки</a>
                    </td>
                    <td>
                        <a href="/api/company/{{ company.key.id() }}/menu?reload" target="_blank">Обновить меню</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" action="/mt/company/create">
        <fieldset>
            <legend>Создать компанию</legend>
            <label>
                Выберите логин:
                <select name="login">
                    {% for login in logins %}
                        <option value="{{ login }}">{{ login }}</option>
                    {% endfor %}
                </select>
            </label>
            <input type="submit">
        </fieldset>
    </form>
    <form method="post">
        <fieldset>
            <legend>Создать логин iiko/platius</legend>
            {% if error %}
                <b>Не удалось создать логин. {{ error }}</b>
            {% endif %}
            <div>
                <label>
                    Логин:
                    <input type="text" name="login">
                </label>
            </div>
            <div>
                <label>
                    Пароль:
                    <input type="password" name="password">
                </label>
            </div>
            <div>
                <label>
                    Сервер:
                    <select name="action">
                        <option value="iiko_login">iiko</option>
                        <option value="platius_login">platius</option>
                    </select>
                </label>
            </div>
            <input type="submit">
        </fieldset>
    </form>
</body>
</html>
